:root {
    --navSideBarWidth: 12vw;
}

html, body, * {
    margin: 0;
}

.content_box {
    width: 100%;
    background-color: #fffff7;
    display: flex;
}

.main_content {
    height: 100vh;
    min-width: calc(100vw - var(--navSideBarWidth));
}

.side-nav-bar{
    height: 100vh;
    width: var(--navSideBarWidth);
    border-right: solid black 1px;
}

.own-profile-part-layout{
    position: absolute;
    top: 2vh;
    right: 2vw;
    display: flex;
}

.own-profile-picture-layout{
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
}