.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Container-Parent{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.Main-Divider{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Line{
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
}

.Box{
  width: 33%;
  height: 100%;
  border: solid black;
}

.nameButt{
  width: 100%;
  height: 100%;
}