.createuser-input-field{
    height: 50px;
    width: 300px;
    border-radius: 4px;
    font-size: 15px;
    background-color: rgb(237, 237, 237);
    border: none;
    padding: 4px 10px;
}

.createuser-input-add-family-button {
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--main-color);
    border: solid var(--user-border-color) 1px;
    color: white;
    font-size: 20px;
    padding: 7px 15px;
}

.createuser-select-field{
    width: 320px;
    height: 58px;
}