.layout-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout-outlet{
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
}

.navbar-main{
    background-color: var(--main-color);
    height: 60px;
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 10px;
}

.navbar-item {
    height: 45px;
    fill: none;
    stroke: white;
    color: white;
}

.navbar-item.selected{
    fill: white;
}