.homesite-main{
    height: fit-content;
    min-height: var(--content-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homesite-display-name{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homesite-course-container {
    height: fit-content;
    min-height: calc(var(--content-height) - 30vh);
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    align-items: flex-start; 
}
