.login-main{
    height: var(--content-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.login-smaller-box-content{
    background-color: var(--navbar-color);
    width: 35vw;
    height: calc(var(--content-height) - 30vh);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.login-smaller-box-with-login{
    background-color: rgb(219, 219, 219);
    width: 30vw;
    height: calc(var(--content-height) - 20vh);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding: 3vh;
}

.login-smaller-box-with-login h1{
    margin-top: 6vh;
    font-size: 3em;
}

.login-smaller-box-with-login form{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-smaller-box-with-login input{
    width: 60%;
    height: 6vh;
    font-size: 2.5vh;
    margin-bottom: 1vh;
    border: solid black 1px;
    border-radius: 10px;
}

.login-smaller-box-with-login input::placeholder{
    font-size: 2vh;
}

.login-smaller-box-with-login form button{
    margin-top: 3vh;
    width: 10vw;
    height: 6vh;
    font-size: 2.5vh;
    border: solid black 1px;
    padding: none;
    border-radius: 10px;
    background-color: var(--navbar-color);
    color: white;
}

.login-create-user{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2vh;
}

.login-create-user button{
    border: solid black 1px;
    padding: none;
    border-radius: 10px;
    background-color: var(--navbar-color);
    height: 5vh;
    color: white;
}

.login-smaller-box-content img{
    width: 100%;
}

.login-smaller-box-content p{
    color: white;
    width: 80%;
    font-weight: 700;
    font-size: 1.2em;
}