.Mini-view-course-main{
    height: 53vh;
    width: 25vw;
    border: none;
    background-color: rgb(219, 219, 219);
    margin:0 2.2vw 6vh 2.2vw;
    border-radius: 10px;
    color: black;
    border: solid black 1px;
    padding: 0;
    overflow: hidden;
}

.mini-view-course-picture{
    width: 100%;
    height: 55%;
    overflow: hidden;
}

.mini-view-course-picture img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.mini-view-course-header{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.mini-view-course-description{
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.mini-view-course-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    height: 17%;
}

.mini-view-course-footer button{
    background-color: var(--navbar-color);
    color: white;
    border-radius: 10px;
    width: 13vw;
    height: 5vh;
    font-size: large;
    border: solid 1px blue;
}

