:root{
    --total-height: 100vh;
    --navbar-height: 10vh;
    --content-height: calc(var(--total-height) - var(--navbar-height));
    --navbar-color: #006cad;
    --extra-color: rgb(219, 219, 219);
    --popup-min-height: 70vh;
    --popup-max-height: 95vh;
}