.sport-component-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    border: solid black 1px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
    color: black;
    gap: 15px;
    font-size: 25px;
    background-color: rgb(155, 197, 211);
}

.sport-component-read-more{
    font-size: 15px;
    border-radius: 8px;
    background-color: var(--main-color);
    color: white;
    padding: 8px 15px;
}

.sport-component-image{
    height: 150px;
    width: 250px;
    object-fit: cover;
}