:root{
    --game-board-width: 85vw;
}

.blackjackgame-main{
    height: 100%;
    width: 100%;
    background-color: #fffdd0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackjackgame-table{
    height: 85vh;
    width: var(--game-board-width);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkgreen;
    border: solid #892201 5vh;
    border-radius: 20px;
    box-shadow: black 0px 0px 20px 4px, inset black -1px 0px 13px 4px;
}

.blackjackgame-game-over-message{
    font-weight: 600;
    font-size: 300%;
}

.blackjackgame-table-top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 50%;
    width: 100%;
    color: white;
}

.blackjackgame-table-dealer-hand{
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.blackjackgame-table-whose-turn{
    height: 100%;
    width: 15%;
    margin-top: 10vh;
}

.blackjackgame-table-whose-turn h2{
    font-size: 120%;
}

.blackjackgame-table-whose-turn p{
    font-size: 250%;
    font-weight: 600;
}

.blackjackgame-table-player-section{
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}