.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ededed;
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  z-index: 1;
}

.loginbar{
  background-color: rgb(28, 28, 28);
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 5px 5px black;
  z-index: 200;
}

.loginbutton{
  position: absolute;
  right: 1vw;
  height: 7vh;
  width: 7vh;
  border-radius: 10000vh;
}

.loginbutton img{
  height: 80%;
}

.dropdownLogin{
  width: 20vw;
  height: 20vh;
  margin-top: -10vh;
  z-index: 33;
  background-color: rgb(51, 51, 51);
  position: absolute;
  right: 0;
  top: 20vh;
}

.dropdownLogin input{
  width: 90%;
  height: 8vh;
  margin-top: 1vh;
}

@media screen and (min-width: 2000px) {
  .loginbar {
    height: 5vh;
  }
  .loginbutton {
    height: 3.5vh;
    width: 3.5vh;
    right: 25vh;
  }
  .dropdownLogin {
    margin-top: -15vh;
    width: 10vw;
    right: 15vh;
  }
  .dropdownLogin input{
    width: 90%;
    height: 4vh;
    margin-top: 1vh;
  }
  .App-header {
    height: 95vh;
  }
  .listPart{
    height: 70px;
  }
}

.App-link {
  color: #61dafb;
}

.inputBar{
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  background-color: #14213D;
  border: solid #FCA311 0.3vh;
  color: white;
}

.listBar{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.changeButton{
  width: 20vw;
  height: 5vh;
  margin-bottom: 5vh;
}

.listPart{
  width: 70vw;
  flex-grow: 1;
  overflow-y: auto;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #FCA311 0.5vh;
  padding: 5vh;
  border-radius: 20px;
}

.display{
  width: 90%;
  height: 3vh;
  background-color: #141414;
  border: solid #FCA311 0.5vh;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
  padding: 1vw;
  text-align: left;
  border-radius: 20px;
}

.display h1, .display p{
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-size: 80%;
}

.display button{
  height: 3vh;
}

.display img{
  height: 100%;
}

.display form{
  flex-grow: 2;
}