.edituser-form{
    border: none;
}

.edituser-discard-button{
    background-color: #922a2a;
    text-decoration: none;
    padding: 7px 50.5px;
}

.edituser-editpassword-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.edituser-cant-edit-field{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: not-allowed;
    color: rgb(197, 197, 197);
}

.edituser-family-cant-edit{
    cursor: not-allowed;
    color: rgb(107, 107, 107);
}

.edituser-password-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 50px;
    gap: 10px;
}

.edituser-password-text{
    font-size: 40px;
    font-weight: 500;
}