.profile-main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
}

.profile-loaned{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

.profile-picture{
    height: 100px;
}

.profile-main-info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    flex-direction: row;
}